<table class="index">
  <tr>
    <th><%= t("product") %></th>
    <th><%= t("quantity_shipped") %></th>
    <th><%= t("return_quantity") %></th>
  </tr>
  <% @returnable_units.each_pair do |variant, qty| %>
    <tr id="<%= dom_id(variant) %>">
      <td>
        <h4 style="margin-bottom:0px;"><%= variant.name %></h4>
        <%= variant.options_text %>
      </td>
      <td><%= qty %></td>
      <td class="return_quantity">
        <%= select_tag "return_quantity[#{variant.id}]",
          options_for_select( 0.upto(qty).collect{ |i| [i,i] } ) %>
      </td>
    </tr>
  <% end %>
</table>


<div id="rma_reason_field">
  <%= f.label :reason, t("reason")%>
  <%= f.text_area :reason %>
  <%= f.error_message_on :reason %>
</div>

