<h1><%= t("returns")%></h1>

<%= render :partial => 'return_authorizations/instruction' %>

<div class="order_confirm" id="order-returns-show">
    <h2><%= t('details_for_return_number', {:rma_no => @return_authorization.number}) %></h2>

    <dl class="order_returns">
        <dt><%= t('status') %></dt>
        <dd> <%= @return_authorization.state.upcase %></dd>

        <dt><%= t('date_created') %></dt>
        <dd><%= @return_authorization.created_at.strftime(t('date.formats.long')) %></dd>

        <% if @return_authorization.amount > 0 %>
            <dt><%= t('rma_credit') %></dt>
            <dd><%= number_to_currency @return_authorization.amount %></dd>
        <% end %>

        <dt><%= t('order') %></dt>
        <dd><%= link_to @return_authorization.order.number, order_path(@return_authorization.order) %> - <%= @return_authorization.order.created_at.strftime(t('date.formats.long')) %></dd>

    </dl>

    <table id="rma_items" class="index">
      <tr>
        <th><%= t("product") %></th>
        <th class="qty"><%= t("return_quantity") %></th>
      </tr>
      <% @returned_units.each do |variant_id, unit_list| %>
          <% unit = unit_list.first %>
          <tr>
              <td>
                  <span class="item_name"><%= unit.variant.name %></span> <%= unit.variant.options_text %>
              </td>
              <td class="qty"><%= unit_list.length %></td>
          </tr>
      <% end %>
    </table>


    <div id="rma_reason_text">
        <h4><%= t("reason") %></h4>
        <p>
            <%= h @return_authorization.reason || t('none_given') %>
        </p>
    </div>


    <% unless params[:print] %>
        <div id="lnk_back">
            <%= link_to t('back_to_order_detail'), order_path(@return_authorization.order) %>
        </div>
    <% end %>
</div>
