  <% if params.has_key? :checkout_complete %>
    <h1><%= t("checkout")%></h1>
  <% else %>
    <h1><%= t("my_account")%></h1>
  <% end %>
<div class="order_confirm">

  <% if params.has_key? :checkout_complete %>
    <div class="checkout-complete-message">
      <h3><%= t('please_print_for_your_records') %></h3>
      <p><%= t('your_confirmation_number_is', {:order_number => @order.number } ) %></p>
    </div>
  <% else %>
    <h2><%= t('details_for_order') %> <span><%= @order.number %></span></h2>
    <div class="order_info">
        <div>
          <strong>
            <%= t('order_date') %>
          </strong>
          <%= @order.created_at.to_date.strftime(t('date.formats.long')) %><br />
        </div>

        <div>
          <strong>
             <%= t('status') %>
          </strong>
          <%= @order.state.upcase.gsub(/_/, ' ') %>
        </div>

        <div>
          <strong>
            <%= t('customer_email') %> 
          </strong>
          <%= h @order.email %>
        </div>

        <% if @order.shipments %>
          <%= render :partial => 'shipments_list', :locals => {:order => @order} -%>
        <% end %>

        <% unless @order.return_authorizations.empty? %>
          <h3><%= t('return_authorizations') %></h3>
          <%= render :partial => 'return_authorizations/returns_list', :locals => {:order => @order} -%>
        <% end %>

        <p class="order_links">
         <% if @order.returnable_units %>
            <%= link_to "Make a return", new_order_return_authorization_path(@order) %>
         <% end %>
        </p>
    </div>

    <div class="order_info_addresses">
        <% if @order.bill_address %>
            <div class='adr'>
                <h4> <%= t("bill_address") %> </h4>
                <%= render :partial => 'admin/shared/address', :locals => {:address => @order.bill_address} %>
            </div>
        <% end %>
        <% if @order.ship_address %>
            <div class='adr'>
                <h4> <%= t("ship_address") %> </h4>
                <%= render :partial => 'admin/shared/address', :locals => {:address => @order.ship_address} %>
            </div>
        <% end %>
    </div>
  <% end %>

  <div id="order_details">
    <%= render :partial => 'shared/order_details', :locals => {:order => @order} -%>
  </div>

  <div id="lnk_back">
    <% if params.has_key? :checkout_complete %>
      <%= link_to t('back_to_store'), shop_path %>
    <% else %>
      <%= link_to 'Back to My Account overview', account_path %>
    <% end %>
  </div>

</div>
